form {
  width: 100%;
  line-height: 25px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 0;
}

form>div {
  text-align: center;
  margin: 10px auto;
}

form>div>div {
  display: inline-block;
}

form label {
  display: inline-block;
  width: 150px;
  text-align: right;
  margin-right: 5px;
}

form input {
  height: 24px;
  line-height: 26px;
  width: 200px;
  border: 1px solid #000;
  padding-left: 15px;
}

form select {
  height: 26px;
  line-height: 26px;
  width: 217px;
  border: 1px solid #000;
}

form button {
  margin-top: 20px;
  padding: 5px 12px;
}